body {
    margin: 0;
    padding: 0;
    min-height: 100vh; 
  }

  .container {
    margin: 20px;
  }

.row{
    display: flex;
    
    justify-content: center;
    flex-wrap: wrap;
}

.navigation{
    display: flex;
   
    align-items: center;
    background-color: rgb(182, 137, 3);
    flex: 1;
    gap: 1rem;
    justify-content: space-between;
    padding: 2rem 3rem;
} 
ul {
  display: flex
  
}
nav ul {
  list-style: none;
  gap: 1rem;
}

nav ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 600;

}

nav ul li a:hover {
  border-bottom: 1px solid black;
}
nav div img {
  width: 70px;
}


header {
  display: flex;
  align-items: center;
  background-color: rgb(182, 137, 3);
  flex: 1; 
  } 
  .img {
   position: relative;
   margin-top: 45px;
    height: 125px;
  }

  .main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(226, 211, 166);
    position: relative;
    flex: 1;
    margin: 10px;
    max-width: 95%;
    height: 1000px;
    border-radius: 10px;
 
   }
   .footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(218, 167, 167);
    position: relative;
    flex: 1;
    margin: 10px;
    max-width: 100%;
    height: 200px;
    border-radius: 10px;
    margin-bottom: auto;
 
   }
   .gambar{
    height: 60px;
    width: 60px;
    border-radius: 55%;
   }
   .uad{
    height: 350px;
    width: 700px;
    align-items: center;
    
   }
   .main-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(226, 211, 166);
    position: relative;
    flex: 1;
    margin: 10px;
    max-width: 95%;
    height: 800px;
    border-radius: 10px;
   }
   
   .gropek{
    height: 360px;
    width: 290px;
   }
   .p{
    display: flex;
    justify-content: center;
    align-items: center;
   }